/* Global styles for your app */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
}

.landing-page.dark-mode body {
  background-color: #121212;
  color: #e0e0e0;
}
